.accordion {
  .accordion-item {
    border: 0;
    margin-bottom: 1rem;

    .accordion-button {
      @extend %text-general;
      font-weight: 400;
      color: white;
      background-color: $blue;

      &:not(.collapsed) {
        color: $dark-blue;
        background-color: white;
        box-shadow: none;
        &:after {
          filter: invert(98%) sepia(1%) saturate(0%) hue-rotate(164deg) brightness(103%) contrast(103%);
        }
      }
      &:hover,
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
    .accordion-collapse {
      padding-bottom: 0.25rem;
      .accordion-body {
        p {
          @extend %text-general;
        }
      }
    }
  }

  &.accordion-sub {
    .accordion-item {
      border: 1px solid $gray;
      border-radius: 6px;
      overflow: hidden;

      .accordion-button {
        @extend %text-general;
        font-size: 50% !important;
        font-weight: 400;
        color: $blue;
        background-color: white;

        &:not(.collapsed) {
          color: white;
          background-color: $dark-blue;

          &:after {
            filter: invert(98%) sepia(1%) saturate(0%) hue-rotate(164deg) brightness(103%) contrast(103%);
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          p {
            @extend %text-general;
            font-size: 50% !important;
          }
        }
      }
    }
  }
}







.ui-accordion {
  .accordions-head {
    border: 1px solid $gray;
    border-radius: 6px;
    overflow: hidden;
  }
  .accordion-content {
    border: 1px solid $gray;
    border-radius: 6px;
    border-top: 0;
  }
}

.boder-gray {
  border: 1px solid $gray !important;
}
.boder-notop-gray {
  border: 1px solid $gray !important;
  border-top: 0 !important;
}



.ui-accordion {
  margin-bottom: 28px !important;
}
.ui-accordion-header {
  margin-top: 12px !important;

  &:first-child {
    margin-top: 0 !important;
  }
}