// @import "variables";

/*--- BUTTONS ---*/

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 6px 32px;
  border-radius: 30px;
  transition: none;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &:focus,
  &:hover {
    outline: 0;
    box-shadow: none;
  }
  &--outline--blue {
    border-color: $blue;
    color: $blue;

    &:focus,
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
  &--dark--blue {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: white;
    font-weight: 700;
    font-size: 16px;

    &:focus,
    &:hover {
      border-color: $dark-blue;
      background-color: $dark-blue;
      color: white;
      opacity: 1;
    }
  }
  &--white {
    border-color: white;
    background-color: white;
    color: $blue;
    font-weight: 700;
    font-size: 16px;

    &:focus,
    &:hover {
      border-color: $dark-blue;
      background-color: $dark-blue;
      color: white;
      opacity: 1;
    }
  }
  &--red {
    border-color: $red;
    background-color: $red;
    color: white;

      &:focus,
      &:hover {
        background-color: transparent;
        color: $red;
      }
  }
  &--outline--red {
    border-color: $red;
    color: $red;

    &:focus,
    &:hover {
      background-color: $red;
      color: white;
    }
  }
}

.btn-wrapper {
  display: flex;
  align-items: center;
}
button:focus {
  outline: 0 !important;
}
.disabled {
  pointer-events: none !important;
}
.not-allowed {
  cursor: not-allowed;
}
