// @import "variables";

/*--- CARDS ---*/

.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-height: 340px;
  border-radius: 10px;
  border: 0;
  padding: 20px 30px;
  margin-bottom: 30px;
  background-color: white;
}


.ship-card {
  border: 1px solid $light-blue;
  border-radius: 8px;
  overflow: hidden;
  margin: 0rem 0.25rem 2rem 0.25rem;
  // margin-bottom: 2rem;
  padding: 1rem;

  &:last-of-type {
    margin: 0rem 0.25rem 0.25rem 0.25rem;
  }

  // EZT KI KELLETT SZEDNEM!
  // &:last-child {
  //   border-bottom: 0;
  // }

  .col-12 {
    &:first-child {
      .img-wrapper {
        height: 100%;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .price {
    color: $blue !important;
    font-size: 22px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
  }
  .ship-name {
    color: $dark-blue !important;
    font-size: 28px !important;
    line-height: 1 !important;
    font-weight: 700 !important;
  }
  .ship-type {
    color: $dark-blue !important;
    font-size: 16px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    text-transform: uppercase;
  }
  ul {
    padding-left: 0;

    li {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: .5rem;

      img {
        margin-right: 12px;
        width: 24px;
        aspect-ratio: 1;
        display: none;
      }
      span {
        width: 130px;
        font-weight: 300;
        display: inline-block;
      }
    }
  }
}



// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {
  .ship-card {
    .col-12 {
      &:first-child {

      }
      &:last-child {

      }
    }
    // .price {
    //   color: $blue;
    //   font-size: 22px;
    //   line-height: 1;
    //   font-weight: 500;
    // }
    // .ship-name {
    //   color: $dark-blue;
    //   font-size: 28px;
    //   line-height: 1;
    //   font-weight: 700;
    // }
    // .ship-type {
    //   color: $dark-blue;
    //   font-size: 16px;
    //   line-height: 1;
    //   font-weight: 400;
    //   text-transform: uppercase;
    // }
    ul {
      li {
        font-size: 18px;
        span {
          width: 160px;
        }
      }
    }
  }

}



// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {

}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

}



@media screen and (min-width: 1366px) {

}



@media screen and (min-width: 1440px) {

}



@media screen and (min-width: 1600px) {

}



@media screen and (min-width: 1900px) {

}
