// @import "variables";

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
 .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel {
  &:after {
    // content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-wrapper,
  .owl-item {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    img {
      display: block;
      width: 100%;
    }
  }
  .owl-nav {
    position: absolute;
    top: 30%;
    left: -50px;
    width: calc(100% + 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    z-index: -1;

    &.disabled {
      display: none;
    }
    .owl-prev,
    .owl-next {
      cursor: pointer;
      user-select: none;
    }
    button.owl-prev,
    button.owl-next {
      background: none;
      color: inherit;
      border: none;
      padding: 0 !important;
      color: blue;

      i {
        font-size: 48px;
      }
      &:focus {
        outline: 0;
      }
      &.disabled {
        color: grey;
        pointer-events: unset;
        cursor: not-allowed;

        span {
          pointer-events: none;
        }
      }
    }
  }
  button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
  }
  .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    max-width: 90%;
    margin: 30px auto 40px;

    &.disabled {
      display: none;
    }
    .owl-dot {
      cursor: pointer;
      user-select: none;
      display: inline-block;
      zoom: 1;
      display: inline;

      span {
        width: 13px;
        height: 13px;
        margin: 0 7px;
        background: white;
        display: block;
        backface-visibility: visible;
        transition: 0.3s all ease;
        border-radius: 30px;
        border: 1px solid $blue;
      }
      &.active,
      &:hover {
        span {
          background: $blue;
        }
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &.owl-loaded {
    display: block;
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  &.owl-refresh {
    .owl-item {
      visibility: hidden;
    }
  }
  &.owl-drag {
    .owl-item {
      touch-action: pan-y;
      user-select: none;
      padding: 0;
      margin-bottom: 0;

      img {
        margin: 0 auto;
      }
    }
  }
  &.owl-grab {
    cursor: move;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;

    .owl-item {
      float: right;
    }
  }
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}



/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/**
    This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
    calculation of the height of the owl-item that breaks page layouts
    */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
