// @import "variables";

/*--- FOOTER ---*/
footer {

}






// --- Responsive styles
@media screen and (min-width: 375px) {

}



// From small view - grid rule: .col-sm-
@media screen and (min-width: 576px) {

}



// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {

}



// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {

}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

}



@media screen and (min-width: 1366px) {

}



@media screen and (min-width: 1440px) {

}



@media screen and (min-width: 1600px) {

}



@media screen and (min-width: 1900px) {

}
