// @import "variables";

/*--- FORMS ---*/

form {
  width: 100%;
}
.form-wrapper {
  width: 100%;

  .row {
    margin: 0;
  }
}



// --- General input styles
.form-group {
  margin-bottom: 2rem;
}
input {
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}
.form-control,
.form-select {
  @extend %text-general;
  background-color: $light-blue;
  color: $blue;
  height: 44px;
  border: 0;
  border-radius: 8px;

  &:focus {
    box-shadow: none;
    outline: 0;
    background-color: $light-blue;
    color: $blue;
  }
}
.form-label {
  @extend %text-general;
  color: $dark-blue;
}


// --- Textarea
textarea.form-control {
  height: auto !important;
  line-height: 24px;
  padding: 14px 20px;
  resize: none;
  font-size: 20px;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    font-size: 20px;
  }
}



// --- Checkbox
.form-check {
  padding-left: 2.2rem;
}
.form-check-input {
  border-color: $blue;
  background-color: $light-blue;
}
.form-check-input:checked {
  background-color: $blue;
  border-color: $blue;
}
.form-check-input:focus {
  box-shadow: none;
  outline: 0;
}




// --- Responsive styles
@media screen and (min-width: 375px) {

}



// From small view - grid rule: .col-sm-
@media screen and (min-width: 576px) {

}



// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {

}



// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {

}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

}



@media screen and (min-width: 1366px) {

}



@media screen and (min-width: 1440px) {

}



@media screen and (min-width: 1600px) {

}



@media screen and (min-width: 1900px) {

}
