// @import "variables";

// moving labels
// https://css-tricks.com/creating-an-animated-menu-indicator-with-css-selectors/

// menu hide/show on scroll
// https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c
// https://codepen.io/kaemak/pen/mHyKa/
// https://dev.to/areeburrub/hide-navbar-as-scroll-down-in-less-than-10-lines-of-javascript-1i00

// parralx bg
// https://codepen.io/roborich/pen/wpAsm

$navbar-mob-height: 62px;

/*--- HEADER ---*/
// Header navigation
.navbar {
    padding: 14px 0;
    // height: $navbar-mob-height;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);

    .navbar-inner-wrapper {
        display: flex;
    }
    .nav-content-wrapper {
        @extend %flex-start;
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar-brand {
        padding: 0;

        img {
            max-width: 140px;
        }
    }

    // Hamburger menu button
    .navbar-toggler {
        margin-left: auto;
        margin-right: 16px;
        padding: 0;
        border: 0;
        transition: none;

        &:hover,
            &:focus {
            box-shadow: none;
        }

        .nav-icon {
            width: 28px;
            height: 28px;
            position: relative;
            margin: 0 auto;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $black;
                border-radius: 0;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 5px;
                }
                &:nth-child(2),
                    &:nth-child(3) {
                    top: 13px;
                }
                &:nth-child(4) {
                    top: 21px;
                }
            }

            // Open state
            &.open {
                span {
                    &:nth-child(1) {
                        top: 13px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        top: 13px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        top: 13px;
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 10px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }

    // Hamburger menu "dropdown"
    .navbar-nav {
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: calc(100vh);
        margin-top: calc(-1 * #{$navbar-mob-height} + 12px);
        padding: 0;

        .nav-item,
        .menu-item {
            width: 100%;
            margin: 10px 0;
            padding: 0;
            text-align: center;

            .nav-link,
            a {
                display: inline-flex;
                align-items: center;
                padding: 0;
                font-size: 16px !important;
                font-weight: 500;
                line-height: 22px;
                color: $dark-blue;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $blue;
                }
                &.active {
                    color: $dark-blue;
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
        &.navbar-top {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    section.section--filter .container{
        background-color: #072c3e !important;
        transform: translate(-50%,-38%)!important;
    }
    section.section--filter {
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 480px) {
    section.section--filter .container{
        background-color: #072c3e !important;

    }
    section.section--filter {
        margin-bottom: 40%;
    }
}

// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: white;
        transition: .3s all ease-in-out;
    }

    // Header navigation
    .navbar {

        .nav-content-wrapper {
            flex-wrap: nowrap;
        }
        .navbar-collapse {
            flex-wrap: wrap;
        }
        // Hamburger menu "dropdown"
        .navbar-nav {
            justify-content: flex-start;
            min-height: 1px;
            margin-top: 0;
            margin-left: 32px;

            .nav-item,
            .menu-item {
                width: auto;
                line-height: 1;
                margin: 4px 10px;

                .nav-link,
                a {
                    white-space: nowrap;
                }
            }
            &.navbar-top {
                display: flex;

                .nav-item,
                .menu-item {
                    .nav-link,
                    a {
                        font-size: 14px !important;
                        font-weight: 400 !important;
                        color: $gray;
                        transition: all .2s ease-in-out;

                        &.active,
                        &:hover {
                            color: $blue;
                        }
                    }
                    &.phone-number {
                        margin-left: auto;

                        a {
                            font-size: 16px !important;
                            font-weight: 500 !important;
                            color: $blue;

                            img {
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

    // Header navigation
    .navbar {
        .navbar-brand img {
            max-width: 200px;
        }
        // Hamburger menu "dropdown"
        .navbar-nav {
            .nav-item,
            .menu-item {
                margin: 6px 20px;

                .nav-link,
                a {
                    font-size: 18px !important;
                }
            }
        }
    }
}
