// https://litepicker.com/#usage
// @import "variables";

/* --- LITEPICKER CLASSES --- */
.datepicker--nav {
  border-bottom: 0;
}
.datepicker--days-names {
  margin: 3px 0 8px;
  border-bottom: 1px solid grey;
}
.datepicker--day-name {
  font-weight: 700;
  color: darkblue;
}
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  color: #fff;
  background: blue;
}
.datepicker--cell {
  &:hover,
  &:focus {
    background: lightblue;
  }
}




// --- Responsive styles
@media screen and (min-width: 375px) {

}



// From small view - grid rule: .col-sm-
@media screen and (min-width: 576px) {

}



// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {

}



// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {

}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

  tr.spacer {
    height: 12px;
  }
}



@media screen and (min-width: 1366px) {

}



@media screen and (min-width: 1440px) {

}



@media screen and (min-width: 1600px) {

}



@media screen and (min-width: 1900px) {

}
