.nav-tabs {
  border: 0;
  flex-wrap: nowrap;

  .nav-link {
    @extend %text-general;
    background-color: $blue;
    color: white;
    border: 0;
    border-radius: 0;
    width: auto;
    white-space: nowrap;
    padding: 1rem;
    margin-right: 4px;

    &:active {
      background-color: white;
      color: $dark-blue;
    }
  }
}
.tab-content {
  background-color: white;
  padding: 2rem;

  p {
    @extend %text-general;
  }
  .text-block {
    p>strong {
      font-weight: 500;
    }
  }
}