// @import "variables";

/* --- TOOLTIP --- */

.tooltip-inner {
  max-width: 260px;
  padding: 9px 18px;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: transparent;
}
.tooltip {
  padding: 12px 0 0;
  font-size: 16px;

  &.show {
    opacity: 1;
  }
  &.fade {
    transition: opacity 0.3s ease-in-out;
  }
  .tooltip-inner {
    border-radius: 6px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0;
    background-color: white;
    color: black;
  }
  .arrow {
    top: 6px;
    left: 20px !important;

    &::before {
      border-bottom-color: white;
      border-right-width: 8px;
      border-bottom-width: 10px;
      border-left-width: 8px;
    }
  }
}
