// @import "variables";

/* --- UTILITY CLASSES, HELPERS --- */

// --- General
* {
  font-family: $font;
  line-height: 1.4;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: $dark-blue;
}
body {
  position: relative;
}
a {
  @extend %text-general;
  transition: .3s all ease-in-out;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    opacity: .6;
  }
}



// --- Typography - General
p {
  width: 100%;
}

// --- IE hide
.ie-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  // background-image: url('../../../includes/images/home-top-mob.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .inner-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;

    p {
      color: white;
      font-size: 24px;
    }
    a {
      color: blue;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: blue;
      }
    }
  }
  .w-100 {
    margin-bottom: 50px;
    text-align: center;
  }
}




// --- List styles
ul.bulleted {
  list-style: none;

  li {
    margin-bottom: 25px;
    line-height: 1.3;

    &::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: blue; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 28px; /* Also needed for space (tweak if needed) */
      margin-left: -28px; /* Also needed for space (tweak if needed) */
      margin-bottom: -2px;
    }
  }
}
ol {
  padding-left: 16px;

  li {
    margin-bottom: 25px;
    padding-left: 12px;
    line-height: 1.3;
  }
}




// --- Small modules, bits
.separator,
hr {
  position: relative;
  width: 100%;
  height: 1px;
}
img {
  max-width: 100%;
  height: auto;
}
.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-wrapper {
  width: 100%;
}
.grecaptcha-badge {
  display: none !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

.cover-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: cover;
}

// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {

  // --- IE hide
  .ie-container {
    // background-image: url('../../../includes/images/home-top-ipad.png');

    .inner-wrapper {
      padding: 40px;

      p {
        font-size: 28px;
      }
    }
    .w-100 {
      margin-bottom: 70px;
    }
  }

  // --- List styles
  ul.bulleted {
    li {
      font-size: 22px;

      &::before {
        font-size: 30px;
      }
    }
  }
}


// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {

  // --- IE hide
  .ie-container {
    // background-image: url('../../../includes/images/home-top-ipad-landscape.png');

    .inner-wrapper {
      padding: 60px;

      p {
        font-size: 30px;
      }
    }
    .w-100 {
      margin-bottom: 70px;
    }
  }

  // --- List styles
  ul.bulleted {
    li {
      font-size: 17px;
      margin-bottom: 15px;

      &::before {
        font-size: 22px;
      }
    }
  }

  .custom-order-1 {
    order: 1;
  }
  .custom-order-2 {
    order: 2;
  }
}


// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

  // --- IE hide
  .ie-container {
    // background-image: url('../../../includes/images/home-top-desktop.png');

    .inner-wrapper {
      padding: 20px;

      p {
        font-size: 36px;
      }
    }
    .w-100 {
      margin-bottom: 90px;
    }
  }
}


@media screen and (min-width: 1600px) {

  // --- List styles
  ul.bulleted {
    li {
      font-size: 20px;

      &::before {
        font-size: 32px;
      }
    }
  }
}


@media screen and (min-width: 1900px) {

  // --- List styles
  ul.bulleted {
    li {
      margin-bottom: 10px;

      &::before {
        width: 34px;
        margin-left: -34px;
      }
    }
  }
}
