/* --- COLORS --- */
$dark-blue: #072C3E;
$blue: #18A7B5;
$light-blue: #D5ECF4;
$red: #E84250;
$gray: #C7C7C7;


/* --- GENERAL VARIABLES --- */
$font: 'Lexend', sans-serif;

%f300 {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 18px;  // 24px max
  line-height: 26px; // // 34px max
}
%f400 {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
%f500 {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
%f700 {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 40px; // 64px max
  line-height: 50px; // 80px max
}
%text-general {
  @extend %f300;
}


h4 {
  @extend %text-general;
  font-weight: 700;
}


/*--- PLACEHOLDER CLASSES ---*/
%flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
