// @import "variables";

/* --- WORDPRESS CLASSES --- */
.aligncenter {
    clear: none;

    a, p, img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
.alignright {
    clear: none;

    a, p, img {
        margin-left: auto;
    }
}
.wp-caption-text {
    font-size: 14px;
}
.wp-caption {
    width: 100% !important;
}
.screen-reader-text {
    display: none;
}
table {
    display: block;
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;

    td, th {
        padding-right: 8px;
    }
}
tr {
    vertical-align: baseline;
}
tr.spacer {
    height: 10px;
}


.form-control{
    border:1px solid  $light-blue;
    margin-bottom: 1rem!important;
    &.alert{
        border: 1px red solid;
        margin-bottom: 0rem!important;
    }

}
.validation-advice,
label.alertbox.alert{
    color: red;
    font-size: 0.8rem;
    height: auto;
    overflow: hidden;
    line-height: 1rem;

}

.form-check-input.alert{
    border: 1px red solid;
}
.partner-item {

    .logo-display{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 300px;
    }
    h3{
        width: 100%;
    }
}


.preloadaer.p-2.text-center {
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.swiper-ship-button-next,
.swiper-ship-button-prev
{
    left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007aff;
}

.swiper-ship-button-next {
    right: 10px;
    left: auto;
}


.swiper-ship-button-next:after, .swiper-ship-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
.swiper-ship-button-next:after{
    content: 'next';
}

.swiper-ship-button-prev:after {
    content: 'prev';
}

.section--ship-info #swiper-bottom .swiper-slide a,
.ship-card .swiper-slide a{
    cursor: zoom-in;
}


.gallery .gallery-item .gallery-icon a  img {
    border: 5px solid #fff !important;
}

// --- Responsive styles
@media screen and (min-width: 375px) {
    .gallery-wrapper .gallery .gallery-item {
        width: 50% !important;
    }
}



// From small view - grid rule: .col-sm-
@media screen and (min-width: 576px) {

}



// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {
    .gallery-wrapper .gallery .gallery-item {
        width: 33% !important;
    }
}



// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {
    .gallery-wrapper .gallery .gallery-item {
        width: 16% !important;
    }
}



// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {

    tr.spacer {
        height: 12px;
    }
}



@media screen and (min-width: 1366px) {

}



@media screen and (min-width: 1440px) {

}



@media screen and (min-width: 1600px) {

}



@media screen and (min-width: 1900px) {

}
