@import "variables";

.from-booking {
  padding: 4rem 0;
  overflow: hidden;

  .spacer {
    &.pt-5 {
      padding-top: 0px !important
    }
  }

  .section {
    .section-title {
      @extend %f700;
      text-align: center;
    }

    &.section--carousel {
      background-image: url(../images/bg-wave.png);
      background-repeat: no-repeat;
      background-size: 70% 85%;
      background-position: 75% 50%;
      background-color: #fff;
    }
  }

  .swiper {
    padding-top: 60px;
    padding-bottom: 40px;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
      }
    }

    .carousel-control {
      display: flex;
      position: absolute;
      top: 0px;
      right: 30px;
      z-index: 9;

      .carousel-button {
        border: 1px solid $blue;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;

        img {
          width: 20px;
        }

        &:hover {
          background-color: rgba($blue, 0.1);
          outline: 0;
        }
        &.swiper-button-disabled {
          background: $gray;
          cursor: no-drop;
          &:hover,
          &:focus {
            border-color: $gray;
          }
        }
      }
    }

    .swiper-pagination-bullets {
      bottom: 0px;

      .swiper-pagination-bullet {
        border: 1px solid $blue;
        opacity: 1;
        width: 10px;
        height: 10px;
        background-color: white;

        &:hover,
        &:focus {
          outline: 0;
          box-shadow: none;
        }
        &.swiper-pagination-bullet-active {
          background-color: $blue;
        }
      }
    }
  }

  a {
    @extend %text-general;
    transition: .3s all ease-in-out;
    text-decoration: none;
    cursor: pointer !important;

    &:hover,
    &:focus {
      opacity: .6;
    }
    &.change-booking-date {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  
    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      white-space: nowrap;
  
      span {
        font-weight: 300;
        display: inline-block;
        width: 84px;
      }
    }
    &.extras {
      padding-left: .5rem;
      border-left: 1px solid $light-blue;
  
      li {
        font-weight: 300;
  
        &:before {
          content: '✓';
          color: $blue;
          font-size: 18px;
          padding-right: 6px;
        }
      }
    }
  }

  .mySwiper1 {
    .card {
      max-width: 440px;
      width: 100%;
      min-height: 597px;

      .general-info {
        span {
          width: 30px;
          img {
            width: 20px;
          }
        }
      }
    }
  }
  
  .card {
    border: 2px solid $light-blue;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
  
    .badge {
      background: $dark-blue;
      position: absolute;
      top: 20px;
      left: 0;
      width: auto;
      background: linear-gradient(to left, $dark-blue 50%, $red 50%) right;
      background-size: 200%;
      transition: .3s all ease-in-out;
      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;
      padding: 10px 16px;
  
      span {
        font-weight: 500;
        color: white;
        font-size: 16px;
      }
      &--discount {
        top: 20px;
        background: linear-gradient(to left, $red 50%, $dark-blue 50%) right;
        background-size: 200%;
      }
    }
  
    .card-image {
      height: 280px;
      overflow: hidden;
      width: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .card-body {
      padding: 16px;
      width: 100%;
  
      p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: .5rem;
  
        &.destination-from {
          width: auto;
          margin-right: 14px;
          font-size: 10px;
          line-height: 10px;
  
          img {
            width: 12px;
            height: auto;
            margin-right: 8px;
          }
        }
        &.destination-to {
          width: auto;
          margin-right: 14px;
          font-size: 10px;
          line-height: 10px;
          margin-bottom: .5rem !important;
  
          img {
            width: 12px;
            height: auto;
            margin-right: 11px;
          }
  
          a {
            font-size: 14px !important;
            line-height: 14px !important;
            font-weight: 500 !important;
  
            &:hover {
              color: $blue;
            }
          }
        }
        &.card-title {
          font-size: 20px;
          font-weight: 700;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          min-height: unset;
        }
        &.card-price {
          font-size: 10px;
          font-weight: 300;
  
          span {
            font-size: 16px;
            font-weight: 700;
            color: $blue;
          }
        }
      }
      .row {
        margin-bottom: 1rem;
  
        >* {
          padding: 0;
          width: auto;
        }
      }
      .button-wrapper {
        text-align: right;
      }
      .extras {
        max-height: 140px;
        overflow: hidden;
      }
    }
    &:hover,
    &:focus {
      .badge {
        background-position: left;
      }
    }
    &.booking-card {
      background-color: white;
      border: 1px solid $light-blue;
      border-radius: 12px;
      overflow: hidden;
    }
  }
  
  @media screen and (min-width: 768px) {
    .mySwiper1 {
      .card {
        max-width: 440px;
        width: 100%;
        min-height: 580px;
      }
    }
  
    .card {
      .card-body {
        .row { 
          .card-price {
            display: inline-block;
          }
          .card-price {
            margin-left: auto;
          }
        }
      }
    }
  }
}