// From medium view - grid rule: .col-md-
@media screen and (min-width: 768px) {
    .counter {
        p {
            &.number {
                font-size: 100px !important;
            }
            &.name {
                font-size: 22px;
            }
        }
    }

    .extra-padding {
        padding-top: 4rem;
    }

    .page-breadcrumb-row {
        justify-content: space-between;
        margin-bottom: 2rem;

        .button-wrapper {
            text-align: right;
        }
    }
    .breadcrumb-wrapper {
        width: auto;
        margin-bottom: 0;
    }


    .section {
        &.section--header {
            .container {
                padding: 4rem 20px 8rem;

                .text-block {
                    .banner-title {
                        font-size: 100px ;
                        line-height: 100px ;
                        &.--sm-title {
                            font-size: 60px ;
                        }
                    }
                }
            }
            &.nobg-header {
                .container {
                    padding: 4rem 20px;

                    .text-block {
                        .banner-title {
                            margin-top: 2rem;
                            font-size: 64px !important;
                        }
                    }
                }
            }
        }
        &.section--page-header {
            .container {
                // padding: 4rem 20px;
                .text-block {
                    .banner-title {
                        font-size: 70px !important;
                    }
                    .banner-subtitle {
                        font-size: 20px;
                        margin-top: 20px;
                    }
                    .row {
                        justify-content: center;
                        position: relative;
                        .step {
                            position: relative;
                            margin-top: 80px;
                            width: 300px;
                        }
                        .step-arrow {
                            position: absolute;
                            width: 260px;
                            top: 0;
                            left: 24%;

                            &.last {
                                top: unset;
                                bottom: -80px;
                                left: 52%;
                            }
                        }
                    }
                }
            }
        }


        // filter
        &.section--filter {
            position: relative;

            .container {
                padding: 2rem;
                // width: calc(100% - 40px);
            }
        }
        &.section--basic-page {
            padding: 40px 12px;

            .container {
                padding: 2rem;
                h3 {
                    font-size: 32px !important;
                }
                p {
                    font-size: 18px !important;
                }
            }
        }
        &.section--card-block,
        &.section--ship-info {
            #swiper-ship,
            #swiper-bottom {
                .swiper-slide {
                    height: 395px;
                    aspect-ratio: unset;
                }
            }
            #swiper-top {
                .swiper-slide {
                    height: 100px;
                    aspect-ratio: unset;
                }
            }
            .row {
                .col-12 {
                    padding: 0;
                }
            }
        }

        &.section--card-block {
            .row {
                .col-12 {
                    &:last-child {
                        padding: 0rem 0rem 0rem 2rem;
                    }
                }
            }
        }
    }
    footer {
        .container {
            padding: 4rem 0;

            .social-row {
                justify-content: flex-start;
                padding: 1rem 0 4rem 0;
            }
        }
    }

}
@media screen and (max-width: 992px) {
    #mobileMenu {
        #menu-item-wpml-ls-64-en,
        #menu-item-wpml-ls-64-hu {
            ul {
                &.dropdown-menu {
                    width: fit-content !important;
                    margin: 10px auto 0 !important;
                    padding: 0 !important;

                    li {
                        margin: 10px !important;
                        width: fit-content !important;
                    }
                }
            }
        }
    }
}
// From large view - grid rule: .col-lg-
@media screen and (min-width: 992px) {
    #mobileMenu {
        #menu-item-wpml-ls-64-en {
            order: 1 !important;
        }
        #menu-item-wpml-ls-64-hu {
            order: 1 !important;
        }
        .order-0 {
            order: unset;
        }
        .order-1 {
            order: unset;
        }
    }

    %f300 {
        font-size: 20px;
        // 24px max
        line-height: 28px;
        // // 34px max
    }
    %f700 {
        font-size: 48px;
        // 64px max
        line-height: 64px;
        // 80px max
    }
    %text-general {
        font-size: 18px !important;
        line-height: 26px !important;
    }

    section {
        .container {
            padding: 4rem 2rem;
        }
        &.section--header {
            .container {
                padding: 4rem 20px 8rem;

                .row {
                    align-items: center;
                }
                .text-block {
                    width: 50%;
                    order: 1;

                    .banner-title {
                        font-size: 120px;
                        margin-top: 0;
                    }
                }
                .image-block {
                    width: 50%;
                    order: 2;

                    .image-wrapper {
                        text-align: center;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.section--destination-header {
            background-color: rgba(0,0,0,0.2);
            background-blend-mode: overlay;

            .container {
                padding: 4rem 20px;

                .text-block {
                    width: 70%;
                }
                .image-block {
                    width: 30%;
                }
            }
        }
        &.section--carousel {
            .row {
                align-items: center;

                .left {
                    width: 50%;
                    padding-right: 1rem;
                }
                .right {
                    width: 50%;
                    padding-left: 1rem;

                    .text-wrapper {
                        .d-flex {
                            margin: 40px 0;
                        }
                    }
                }
            }
        }
    }

    .row {
        &.tab-row {
            &.day-row {
                .day-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .cbc-arrow-img2 {
                        height: 0;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    section#tour_gallery .gallery-wrapper .gallery {
        .gallery-item {
            width: 33%!important;
        }
    }


}

@media screen and (min-width: 992px) and (max-width: 1400px) {
    .section--card-block .nav-tabs .nav-link{
        font-size: 14px!important;
        padding: 0.6rem;
    }
}

// From extra large view - grid rule: .col-xl-
@media screen and (min-width: 1200px) {
    %f300 {
        font-size: 22px;
        // 24px max
        line-height: 30px;
        // // 34px max
    }
    %f700 {
        font-size: 50px;
        // 64px max
        line-height: 66px;
        // 80px max
    }


    .display-card {
        a {
            .badge {
                width: 80%;
                span {
                    font-size: 22px;
                }
            }
        }
    }

    section {
        &.section--header {
            .container {
                padding: 4rem 20px 8rem;

                .text-block {
                    .banner-title {
                        // font-size: 120px !important;
                        line-height: 120px !important;
                    }
                }
            }
        }
        &.section--carousel {
            .row {
                align-items: center;

                .left {
                    width: 40%;
                    padding: 1rem;
                }
                .right {
                    width: 60%;
                    padding-left: 2rem;

                    .text-wrapper {
                        .d-flex {
                            margin: 40px 0;
                        }
                    }
                }
            }
        }
    }


}


@media screen and (min-width: 1440px) {
    %f300 {
        font-size: 24px;
        // 24px max
        line-height: 34px;
        // // 34px max
    }
    %f700 {
        font-size: 64px;
        // 64px max
        line-height: 80px;
        // 80px max
    }

}
