@import "variables";
@import "mixins/mixins";
@import "utilities";
@import "header";
@import "footer";
@import "cards";
@import "buttons";
@import "forms";
@import "carousel";
@import "litepicker";
@import "tooltip";
@import "accordion";
@import "tabs";
@import "wordpress";
@import "moving-indicator";
@import "swiper";
@import "magnific-main";

#mobileMenu {
    #menu-item-wpml-ls-64-en {
        order: 0;
    }
    #menu-item-wpml-ls-64-hu {
        order: 0;
    }
    .order-0 {
        order: 0;
    }
    .order-1 {
        order: 1;
    }
}

.onShowHamburgerMenu {
    overflow: hidden !important;
    height: 100vh;
}

.bg-lightblue {
    background-color: $light-blue;
}
.bg-parallax {
    background-image: url('../images/bg-wave.png');
    background-repeat: no-repeat;
    background-size: 48% 88%;
    background-position: 75% 140%;
    background-color: white;
}

.counter {
    width: 100%;
    aspect-ratio: 1;
    border-bottom-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
    overflow: hidden;
    background-color: $light-blue;
    color: $blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    p {
        width: 100%;
        &.number {
            @extend %f700;
            font-size: 70px;
            line-height: 1;
            margin-bottom: 3rem;
        }
        &.name {
            @extend %f400;
            font-size: 20px;
        }
    }

    &--large {
        max-width: 400px;
        max-height: 430px;
    }
    &--small {

    }
}

.section--ship-info{
    .col-12.col-lg-6{
        position: relative;
        .badge {
            background: $red;
            position: absolute;
            top: 50px;
            left: 0;
            width: 60%;
            background-size: 200%;
            transition: .3s all ease-in-out;
            border-top-right-radius: 100rem;
            border-bottom-right-radius: 100rem;
            padding: 15px 28px;
            z-index: 8;

            span {
                font-weight: 600;
                color: #fff;
                font-size: 24px;
                text-transform: uppercase;
            }
        }
    }
}
.display-card {
    max-width: 300px;
    border-bottom-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
    overflow: hidden;

    a {
        position: relative;
        display: block;
        .badge-container{
            position: absolute;
            width:100%;
            top: 0;
            left: 0;
            z-index: 1;
            .badge {
                background: $dark-blue;


                width: 80%;
                background: linear-gradient(to left, $dark-blue 50%, $red 50%) right;
                background-size: 200%;
                transition: .3s all ease-in-out;
                border-top-right-radius: 100rem;
                border-bottom-right-radius: 100rem;
                padding: 18px 28px;

                &.badge-dicount{
                    margin-top: 10px;
                    width: 50%;
                    padding: 10px 26px;
                    background: #e84250;

                    span {
                        font-weight: 700;
                        color: white;
                        font-size: 16px;
                    }
                }
                span {
                    font-weight: 700;
                    color: white;
                    font-size: 18px;
                }
            }
        }
        .card-layer {
            transition: .3s all ease-in-out;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 100rem;
            border-bottom-right-radius: 100rem;
            background-color: rgba(0,0,0,0);

            .view {
                @extend %f700;
                color: white;
                text-align: center;
            }
        }
        &:hover,
            &:focus {
            opacity: 1;
            .badge {
                background-position: left;
            }
            .card-layer {
                opacity: 1;
                background-color: rgba(0,0,0,0.6);
            }
        }
        img {
            aspect-ratio: 1;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &.disabled-hover {
        a {
            cursor: no-drop;
            &:hover,
                &:focus {
                opacity: 1;
            }
        }
    }
}

.breadcrumb-wrapper {
    width: 100%;
    background-color: white;
    border-radius: 100rem;
    margin-bottom: 1rem;

    .breadcrumb {
        margin: 0;
        padding: .55rem .25rem;
        color: $dark-blue;

        .breadcrumb-item {
            margin: 0;
            font-weight: 400;
            font-size: 14px;

            a {
                font-weight: 400;
                font-size: 14px !important;

                &:hover,
                    &:focus {
                    color: $blue;
                }
            }
            &.active {
                line-height: 1.95;
                color: $blue;
            }
            &:first-child {
                padding-left: 0;
            }
            .breadcrumb_last{
                line-height: 1.95;
                color: $blue;
            }
        }
    }
}



//--- MAIN STRUCTURE ---
// Navbar on top - footer on bottom - page content expands inbetween in order to the page reaching min 100vh
.container--main {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.page-content-wrapper {
    position: relative;
    flex: 1;
    // padding-top: 62px; // Navigation height
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.container {
    padding: 0 20px;
    margin-bottom: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;

    &.base-margin {
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    &.three-card-layout {
        margin-left: -1rem;
        margin-right: -1rem;

        .display-card {
            min-width: calc(100% / 3 - 2rem);
            max-width: calc(100% / 3 - 2rem);
            padding: 0;
            margin: 1rem;
        }
    }
    &.tab-row {
        flex-wrap: nowrap;
        margin: 0;
        >div {
            padding: 0;
        }
        .display-card-wrapper {
            max-width: calc(35% - 2rem);
            margin-right: 2rem;
            // max-height: 340px;
        }
        &.day-row {
            //margin-bottom: 100px;
            .day-wrapper {
                max-width: calc(35% - 2rem);
                margin-right: 2rem;
                text-align: center;

                p {
                    font-weight: 700;
                    color: $blue;
                    font-size: 64px !important;
                    line-height: 1 !important;

                    span {
                        color: $dark-blue;
                    }
                }
                img {
                    margin-top: 50px;
                }
            }
            .day-info {
                .image-holder {
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px;
                    overflow: hidden;
                    margin-bottom: 30px;
                    max-height: 370px;
                    img {
                        object-fit: cover;
                        object-position: center;
                    }
                    .swiper-slide{
                        img{
                            cursor: zoom-in;
                        }
                    }
                }
                p {
                    color: $dark-blue;

                    strong {
                        font-weight: 700 !important;
                    }
                }
            }
            // &:last-child {
            //     .day-wrapper {
            //         img {
            //             display: none;
            //         }
            //     }
            // }
        }
        .accordion-sub,
        .text-block,
        .day-info {
            width: 65%;
        }
    }
}
.accordion-body {
    .day-row {
        .day-wrapper {
            max-width: 100%;
            margin-right: 0;

            p {
                font-weight: 700 !important;
                color: $blue;
                font-size: 46px !important;
                line-height: 1 !important;

                span {
                    color: $dark-blue;
                }
            }
        }
        .day-info {
            .image-holder {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                overflow: hidden;
                margin: 20px 0;
            }
            p {
                color: $dark-blue;

                strong {
                    font-weight: 700 !important;
                }
            }
        }
    }
}



/*--- PAGE SPECIFIC STYLES ---*/
.extra-padding {
    padding-top: 0rem;
}



// --- HOME page
section {
    .container {
        // max-width: $maxContentWidth;
        margin: 0 auto;
        width: 100%;
        padding: 2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .section-title-row {
        margin: 0;
        padding: 1rem 0;

        >div {
            padding: 0;
        }
        .section-title {
            @extend %f700;
        }
        .section-subtitle, .section-subtitle p, .section-subtitle p span {
            @extend %f300;
            strong {
                font-weight: 700;
            }
        }
    }



    // header large image
    &.section--header {
        background-color: $dark-blue;

        .container {
            padding: 2rem 20px 220px;

            .text-block {
                width: 100%;
                order: 2;
                padding: 0;

                .banner-title {
                    @extend %f700;
                    font-size: 70px;
                    line-height: 1;
                    color: $light-blue;
                    margin-top: -30px;

                    span {
                        display: block;
                        color: $red;
                    }
                }
            }
            .image-block {
                width: 100%;
                order: 1;
                padding: 0;

                .image-wrapper {
                    text-align: right;

                    img {
                        width: 85%;
                    }
                }
            }
        }
        &.nobg-header {
            .container {
                padding: 4rem 20px;

                .text-block {
                    .banner-title {
                        margin-top: 2rem;
                        font-size: 54px !important;
                        line-height: 64px !important;
                        color: white;
                    }
                }
            }
        }
    }
    &.section--destination-header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(0,0,0,0.2);
        background-blend-mode: overlay;

        .container {
            .text-block {
                width: 100%;
                margin-top: 60px;

                .banner-title {
                    color: white;
                    text-transform: uppercase;
                }
                .banner-sub-title {
                    @extend %f700;
                    color: white;
                    font-weight: 500;
                    font-size: 36px !important;
                }
                .divider {
                    height: 1px;
                    background: white;
                    margin: 20px 0;
                    max-width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .floating-excerpt {
                    border-radius: 0 0 20px 20px;
                    background-color: white;
                    padding: 2rem;
                    width: 80%;
                    margin-top: 2rem;
                    p {
                        @extend %text-general;
                    }
                    a {
                        color: $red;
                    }
                }
            }
            .image-block {
                width: 100%;
            }
        }
    }
    &.section--page-header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, .5);
            z-index: 1;
        }

        .container {
            padding: 4rem 20px;
            z-index: 2;
            position: relative;
            .text-block {
                .banner-title {
                    color: white;
                    line-height: 1.2 !important;
                    font-size: 40px !important;
                    margin-top: 0;
                }
                .banner-subtitle {
                    color: white;
                    line-height: 1.2 !important;
                    font-size: 20px;
                    margin-top: 20px;
                }
                .row {
                    .step {
                        position: relative;
                        margin-top: 1rem;

                        .step-layer {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            p {
                                font-size: 20px;
                                font-weight: 300;
                                margin-bottom: 0;
                                line-height: 1;

                                span {
                                    font-weight: 700;
                                    display: block;
                                }
                                &:first-child {
                                    font-size: 70px;
                                    font-weight: 700;
                                    margin-top: -20px;
                                }
                                &:last-child {
                                    font-size: 18px;
                                    span {
                                        font-size: 22px;
                                    }
                                }
                            }
                            hr {
                                height: 1px;
                                width: 45%;
                                margin: 1rem auto;
                            }
                        }
                    }
                }
            }
        }
    }
    // filter
    &.section--filter {
        position: relative;

        .container {
            padding: 20px 8px;
            width: calc(100% - 40px);
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0 0 20px 20px;
            background-color: white;
            max-width: 1300px;
            width: 100%;

            .form-group {
                margin-bottom: 0;
            }
        }
    }

    &.section--carousel {
        .row {
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                display: flex;
                align-items: center;
                .text-wrapper {
                    .d-flex {
                        margin: 40px 0;

                        a {
                            @extend %f400;
                            color: $dark-blue;
                            text-decoration: none;
                            padding: 0 .5rem;

                            &.active,
                            &:hover,
                                &:focus {
                                color: $blue;
                            }
                        }
                    }
                    .title {
                        @extend %f700;
                    }
                    .description {
                        @extend %f300;
                    }
                }
            }
        }
    }

    &.section--contact-form {
        .container {
            max-width: 920px;
        }
    }

    &.section--basic-page {
        padding: 40px 12px;

        .container {
            background-color: white;
            padding: 24px ;
            border-radius: 12px;

            h3 {
                @extend %f700;
            }
            p {
                @extend %f300;
            }
            img {
                margin: 1rem 0;
            }
        }
    }

    &.section--card-block,
    &.section--ship-info {
        .inner {
            min-height: 496px;
            background-color: white;
        }
        .row {
            margin: 0;

            .col-12 {
                padding: 0 0 1rem 0;

                &:last-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 2rem;
                }
            }
        }
        // #swiper-bottom {
        //     height: 374px;

        //     .swiper-slide {
        //         text-align: center;

        //         img {
        //             max-width: 100%;
        //             max-height: 100%;
        //             width: auto;
        //             height: auto;
        //             object-fit: cover;
        //         }
        //     }
        // }
        #swiper-bottom,
        #swiper-ship{
            .swiper-slide {
                // height: 250px;
                // height: 395px;
                text-align: center;
                aspect-ratio: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        #swiper-top{
            .swiper-slide {
                // height: 100px;
                text-align: center;
                aspect-ratio: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .info-text-bold {
            color: $dark-blue;
            font-weight: 700;
            font-size: 24px;

            &.--small {
                font-size: 16px;
            }
            span.strike-trough {
                color: $blue;
                text-decoration:line-through;
                text-decoration-thickness: 1px;
                span{
                    color: #072c3e;
                    text-decoration:none;
                    span.text-blue{
                        color: $blue;
                    }
                }
            }
            span.text-blue{
                color: $blue;
            }
            span.text-red{
                color: $red;

            }
            span.discount-percent {
                color: $red;
                border-radius: 30px;
                background-color: $light-blue;
                padding: 4px 12px;
            }
        }
        .info-text-light {
            color: $dark-blue;
            font-weight: 300;
            font-size: 18px;
        }

        .available-cabins.disabled{
            cursor: not-allowed;
            background-color: $gray;
            #available-cabins-display{
                cursor: not-allowed;
                .dropdown-toggle{
                    cursor: not-allowed;
                    .item{
                        cursor: not-allowed;
                    }
                }
            }
        }

        .available-cabins,
        .available-ships,
        .available-dates {
            background-color: $light-blue;
            border-radius: 12px;
            padding: 1rem;
            margin-bottom: 1rem;
            border:1px solid $light-blue;
            &.alert{
                border:1px solid red;
                margin-bottom: 0
            }

            .dropdown-toggle,
            .dropdown-menu {
                .item {
                    position: relative;
                }
                p {
                    margin-bottom: 0;
                    &.date {
                        font-weight: 700;
                        font-size: 18px;
                    }
                    &.price {
                        font-weight: 300;
                        font-size: 16px;
                    }
                    &.discount {
                        font-weight: 700;
                        font-size: 18px;
                        color: $red;
                        background: white;
                        padding: 4px 12px;
                        display: block;
                        width: fit-content;
                        border-radius: 100rem;
                        position: absolute;
                        right: 24px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .dropdown-toggle {
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    right: 0%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .dropdown-menu {
                width: 100%;
                min-width: 260px;
                padding: 0;
                margin-left: -16px !important;
                margin-top: 0px !important;

                .item {
                    padding: .5rem .75rem;
                    border-bottom: 1px solid $light-blue;
                    cursor: pointer;
                    transition: .3s all ease-in-out;

                    &:last-child {
                        border-bottom: 0;
                    }
                    &:hover,
                        &:focus,
                        &.selected {
                        background: $light-blue;
                    }
                }
            }
        }

    }

    &.section--card-block {
        .row {
            .col-12 {
                &:last-child {
                    padding: 0rem 0rem 0rem 0rem;
                }
            }
        }
    }
    &#tour_gallery {
        .gallery-wrapper .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    background-color: $dark-blue;

    .container {
        padding: 2rem;
        color: white;

        .divider {
            display: block;
            width: 90%;
            margin: 2rem auto;
            height: 1px;
            background: $blue;

            &.divider-first {
                height: 4px;
                width: 40%;
            }
        }
        .footer-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
        }
        .footer-subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            padding-bottom: 1rem;
            margin: 1rem 0;
            border-bottom: 1px solid $blue;
        }
        .footer-text {
            @extend %text-general;
        }
        ul {
            list-style: none;
            padding: 0;

            li {
                a {
                    @extend %text-general;
                    color: $blue;
                    display: inline-flex;
                    width: auto;
                    padding: .5rem;
                    text-decoration: none;

                    &:hover,
                        &:focus {
                        opacity: .6;
                    }

                    &.footer-link-full {
                        padding: 0;
                        width: 100%;
                        margin: .5rem 0;
                    }
                }
            }
        }
        .footer-link {
            @extend %text-general;
            color: $blue;
            display: inline-flex;
            width: auto;
            padding: .5rem;
            text-decoration: none;

            &:hover,
                &:focus {
                opacity: .6;
            }

            &.footer-link-full {
                padding: 0;
                width: 100%;
                margin: .5rem 0;
            }
        }

        .row {
            margin-left: -.5rem;
            margin-right: -.5rem;

            .menu-footer-menu-container,
            .menu-footer-menu-hungarian-container {
                ul {
                    display: flex;
                    flex-direction: column;
                    // li:first-child {
                    //     a {
                    //         padding-left: 0;
                    //     }
                    // }
                }
            }
        }

        .social-row {
            align-items: center;
            justify-content: space-around;

            .social-icon {
                display: inline-flex;
                width: auto;

                &:hover,
                    &:focus {
                    img {
                        transform: scale(.8);
                    }
                }

                img {
                    width: 40px;
                    aspect-ratio: 1;
                    transition: .3s all ease-in-out;
                }
            }
        }
    }
}
.grey-info-box {
    background-color:#f7f7f7;
    padding:1.5rem;
    width:100%;
    height:100%;

    p {
        border-bottom: 1px solid #efefef;

        &:last-of-type {
            border-bottom: none;
            margin-bottom: 0px;
        }

        a {
            font-size: inherit !important;
        }
    }
}

.charter-contact {
    a {
        font-size: inherit !important;
        font-family: inherit !important;
        line-height: inherit !important;
        font-weight: bold;
        color: $blue;

        &:hover {
            color: rgba(24, 167, 181, 0.5);
        }
    }
}

.destinations-tab-navigation {
    justify-content: center;
    align-items: center;

    button {
        &.nav-link {
            font-size: 14px;
            background-color: white;
            color: $blue;
            padding: 6px 12px;
            border-radius: 19px;
            font-weight: 700;
            margin: 0;

            &:first-of-type {
                margin-right: 5px;
            }

            &:last-of-type {
                margin-left: 5px;
            }

            &.active {
                background-color: $dark-blue;
                color: white;
            }
        }
    }
}

.destinations-tab-content {
    background-color: transparent;
    padding: 0;
}

label.form-check-label {
    font-size: inherit !important;

    * {
        font-size: inherit !important;
    }
}

.search-iframe{
    width: 100%;
    height: 385px;
}

.section-below-iframe {
    padding-top: 70px !important;
}

iframe {
    margin: 0 auto;
    display: block;
}

.sticky-button {
    position: fixed;
    bottom: 1rem;
    z-index: 999;
    right: -1.5rem;
}

p.cabin {
    span.strike-trough {
        text-decoration: line-through;
    }
    span.text-red {
        color: #e84250;
        font-weight: 700;
    }
}

@media screen and(min-width: 768px) {
    .search-iframe-container {
        margin-top: 50px !important;
    }
    .section-below-iframe {
        padding-top: 150px !important;
    }

    .destinations-tab-navigation {
        button {
            &.nav-link {
                font-size: 16px;
                padding: 6px 24px;

                &:first-of-type {
                    margin-right: 10px;
                }

                &:last-of-type {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .search-iframe-container {
        margin-top: 20px !important;
    }
    .search-iframe{
        height: 300px;
    }
    .sticky-button {
        bottom: 28%;
    }
}

@media screen and(min-width: 1440px) {
    .search-iframe-container {
        margin-top: 38px !important;
    }
}


#destinations,
#boat_rental {
    max-height: 721px !important;
    overflow: hidden;
}


.area-carousel {
    .owl-stage {
        margin: 0 auto;
    }
}

.fullpage-banner {
    min-height: calc(100vh - 104px);

    .white-box {
        background-color: rgba(black, .35);
        padding: 1rem;
        border-radius: 8px;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 8px;

        ul li {
            margin-bottom: 12px;
        }
        .form-group {
            margin-bottom: .5rem;

            .form-label {
                color: #18a7b5;
            }
            .form-control {
                font-size: 16px!important;
                line-height: 22px!important;
                height: 42px;
            }
        }
        textarea.form-control::placeholder {
            font-size: 16px;
        }
    }
}


.testimonial-section .carousel-wrapper {
    overflow: hidden;
    max-height: 220px;
}

#owltesimonial{
    max-height: 220px;
    overflow: hidden;
    text-align:center;
    .owl-stage-outer{
        max-height:160px;
        overflow: hidden;
        .owl-stage{
            max-height:160px;
            overflow: hidden;
            .owl-item {
                text-align:center;
                .description{
                    font-family: Lexend,sans-serif;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 26px;
                    width: 80%;
                    margin: 0 auto;

                    blockquote:before {
                        content: ' " ';
                        font-size: 60px;
                        top: -23px;
                        position: absolute;
                        left: 8%;
                        font-family: Lexend, sans-serif;
                        color: aliceblue;

                    }
                    blockquote:after {
                        content: ' " ';
                        font-size: 60px;
                        top: 48%;
                        position: absolute;
                        right: 10%;
                        font-family: Lexend,sans-serif;
                        color: #f0f8ff;
                    }
                    p{
                        font-style: italic;
                        font-family: Lexend,sans-serif;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 26px;
                    }

                }
                p.title {
                    font-weight: bold;
                }
            }
        }
    }
}

