// --- BACKGROUND COLORS
@mixin bg($name, $color) {
  .#{$name} {
    background-color: $color;
  }
}

$backgrounds: (
  bg-black: black,
  bg-white: white,
) !default;

@each $bg, $color in $backgrounds {
  @include bg($bg, $color);
}
