// --- TEXT COLORS
@mixin text($name, $color) {
  .#{$name} {
    color: $color;
  }
}

$texts: (
  text-black: black,
  text-white: white,
) !default;

@each $text, $color in $texts {
  @include text($text, $color);
}
